*.sqlite3
*.pyc
__pycache__
env.py
**/migrations/**
__pycache__/env.cpython-38.pyc
stoic_shirts_2022/__pycache__/__init__.cpython-38.pyc
.gitignore
stoic_shirts_2022/__pycache__/wsgi.cpython-38.pyc
StoicShirts22/__pycache__/__init__.cpython-38.pyc
StoicShirts22/__pycache__/admin.cpython-38.pyc
