asgiref
boto3
botocore
dj-database-url
Django
django-allauth
django-countries
crispy-bootstrap4==2024.10
django-crispy-forms
django-storages
gunicorn
jmespath
oauthlib
Pillow
psycopg2-binary
python3-openid
pytz
requests-oauthlib
s3transfer
sqlparse
stripe
whitenoise
