html {
    height: 100%;
}
body {
    background-color:azure;
    background: url('/media/BG-Shirt.png') no-repeat center center fixed;
    height: calc(100vh - 164px);
    
}

.main-logo-link {
    width: fit-content;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.logo{
   text-transform: uppercase;
   color:darkgray;
}
.navbar-brand {
    text-transform: uppercase;
}
#seachbar {
    padding-top: 170px;
}
.overlay {
    height:100%;
    width:100%;
    background: white;
    z-index: -1;
    position: fixed;
}
.btt-button{
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 15px;
    right: 20px;

}
.btt-link {
    cursor:grab;corn
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }

      @media (max-width: 991px) {
        .header-container {
            padding-top: 116px;
        }
    
        body {
            height: calc(100vh - 116px);
        }
    }
  }