<!-- Main nav-->
<header class="container-fluid fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">StoicShirts</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item search-bar">
            <form id="search-bar" method="GET" action="{% url 'products' %}" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'products' %}?category=men_shirts" class="dropdown-item">Men Shirts</a>
            <a href="{% url 'products' %}?category=women_shirts" class="dropdown-item ">Women Shirts</a>
            <a href="{% url 'products' %}?category=unisex_shirts" class="dropdown-item ">Unisex Shirts</a>
            <a href="{% url 'products' %}?category=men_long_sleeve" class="dropdown-item ">Men Long Sleeve</a>
            <a href="{% url 'products' %}?category=women_long_sleeve" class="dropdown-item ">Women Long Sleeve</a>
            <a href="{% url 'products' %}?category=plain" class="dropdown-item ">Plain</a>
            <a href="{% url 'products' %}?category=men_shirts,women_shirts,unisex_shirts,men_long_sleeve,women_long_sleeve,plain" class="dropdown-item ">All</a>
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Philosophers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'products' %}?philosopher=arthur_schopenhauer" class="dropdown-item">Arthur Schopenhauer</a>
            <a href="{% url 'products' %}?philosopher=seneca" class="dropdown-item ">Seneca</a>
            <a href="{% url 'products' %}?philosopher=marcus_aurelius" class="dropdown-item ">Marcus Aurelius</a>
            <a href="{% url 'products' %}?philosopher=immanuel_kant" class="dropdown-item ">Immanuel Kant</a>
            <a href="{% url 'products' %}?philosopher=plato" class="dropdown-item ">Plato</a>
            <a href="{% url 'products' %}?philosopher=arthur_schopenhauer,seneca,marcus_aurelius,immanuel_kant,plato" class="dropdown-item ">All</a>
            </div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}            
          </div>
          
            <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  £0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
